<div class="container mt-5 mb-5">

    <h2>La foire aux questions</h2>
    <p>Nous vous invitons à nous contacter pour plus d'amples informations</p>

    <h3>Je ne souhaite plus recevoir d'email de votre part</h3>
    <p>Conformément à la législation, il figure en bas de nos e-mails (newsletter bi-hebdomadaire, e-mailings partenaires).</p>
    <p>Un lien vous permettant de vous désinscrire de nos listes de destinataires. <br>Cliquez sur ce lien afin d’accéder au formulaire d’inscription/désinscription ou accédez-y directement à l’adresse suivante : http://www.sportstrategies.com/newsletters/modifier/</p>
    <p>Renseignez alors votre adresse e-mail, <br> puis cochez/décochez les listes auxquelles vous souhaitez être intégré ou supprimé.</p>

    <h3>Comment vous contacter?</h3>
    <p>Vous trouverez les coordonnées de nos différents services sur la page de contact</p>

    <h3>Je souhaite modifier le logo de votre société sur mon produit.</h3>
    <p>Nous vous conseillons de prendre rdv avec un membre de notre société.</p>

</div>
